<div class="main-body">
    <div class="main-left col-xs-9 no-padding-left">
        <div class="title-nav">
            <div class="title-nav-first">
                <foreach name="headsites.first_nav" item="site">
                    <div class="col-xs-2 site-block">
                        <a href="{$site.url}">{$site.name}</a>
                    </div>
                </foreach>
            </div>
            <div class="line"></div>
            <div class="title-nav-second">
                <foreach name="headsites.second_nav" item="site">
                    <div class="col-xs-2 site-block">
                        <a href="{$site.url}">{$site.name}</a>
                    </div>
                </foreach>
            </div>
        </div>
        <div class="detail-nav">
            <foreach name="sites" item="site">
                <div class="detail-box">
                    <div class="detail-box-title">
                        <foreach name="site.title" item="title">
                            <div class="detail-box-title-abox">
                                <a href="{$title.url}">{$title.name}</a>
                            </div>
                        </foreach>
                    </div>
                    <div class="detail-box-body">
                        <foreach name="site.content" item="content">
                            <div class="detail-box-line">
                                <div class="detail-box-body-first">
                                    <a href="{$content.first.url}">|{$content.first.name}|</a>
                                </div>
                                <foreach name="content.list" item="detail">
                                    <div class="detail-box-body-item">
                                        <a href="{$detail.url}">{$detail.name}</a>
                                    </div>
                                </foreach>
                            </div>
                        </foreach>
                    </div>
                </div>
            </foreach>
        </div>
    </div>
    <div class="main-right col-xs-3 no-padding-left no-padding-right">
        <div class="nba">
            <foreach name="matchlist" item="match">
                <div class="match">
                    <div class="row">
                        <div class="col-xs-2 match-time">
                            {$match.time}
                        </div>
                        <div class="col-xs-10">
                            <img class="team-icon" src="http://china.nba.com/media/img/teams/pills/{$match.home_team.profile.abbr}_68x44.png" />
                            <span class="score">{$match.score.homeScore}</span>
                            :
                            <span class="score">{$match.score.awayScore}</span>
                            <img  class="team-icon" src="http://china.nba.com/media/img/teams/pills/{$match.visit_team.profile.abbr}_68x44.png" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="team-name-box team-name-box-left">
                            <div class="team-name no-padding-right">
                                {$match.home_team.profile.name}
                            </div>
                        </div>
                        <div class="match-status">
                            {$match.score.statusDesc}
                        </div>
                        <div class="team-name-box team-name-box-right">
                            <div class="team-name team-name-right">
                                {$match.visit_team.profile.name}
                            </div>
                        </div>
                    </div>
                    <!--<div class="team">-->
                    <!--{$match.home_team.profile.name}-->
                    <!--&lt;!&ndash;<div class="teamimg">&ndash;&gt;-->
                    <!--&lt;!&ndash;<img src="{$match.visit_team_img}"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                    <!--{$match.time}-->
                    <!--<div class="team">-->
                    <!--{$match.visit_team.profile.name}-->
                    <!--<div class="teamimg">-->
                    <!--&lt;!&ndash;<img src="{$match.home_team_img}"/>&ndash;&gt;-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </foreach>
        </div>

        <div class="lottery">
            <iframe src="http://888.sports.qq.com/v1.0/external/cpqq_award.html" frameborder="0" width="100%" height="400" scrolling="no"></iframe>
        </div>
    </div>
</div>